[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
django = "*"
black = "==19.3b0"
django-bootstrap4 = "*"

[requires]
python_version = "3.7"

[scripts]
server = "python manage.py runserver"
createsuperuser = "python manage.py createsuperuser"
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
dbshell = "python manage.py dbshell"
black_all = "black *.py"
